main {
  width: 85vw;
}

.hero-search {
  width: 100%;
  height: 15%;
  display: grid;
  place-items: center;
  color: white;
  font-size: 3rem;
  background-image: linear-gradient(red, transparent);
}

.grid-container {
  width: 100%;
  height: 60vh;
  overflow: auto;
  padding: 25px;
  display: grid;
  gap: 15px;
  margin-bottom: 10vh;
  place-items: center;
  grid-template-columns: repeat(5, 1fr)
}

.grid-container {
  width: 100%;
  height: 60vh;
  overflow: auto;
  padding: 25px;
  display: grid;
  gap: 15px;
  margin-bottom: 10vh;
  place-items: center;
  grid-template-columns: repeat(5, 1fr);
  color: white;
}

.grid-item {
  cursor: pointer;
  transition: .5s ease;
  text-align: center;
  height: 400px;
}

.grid-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.grid-item img {
  width: 100%;
}

.grid-container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.grid-container::-webkit-scrollbar-track {
  background: #272624;
}

/* Handle */
.grid-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
.grid-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}