/*
  Reset Basico
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}


/*
  Coteudo profile

*/

main {
  width: 85vw;
  height: 100%;
  overflow: auto;
  margin-bottom: 5vh;
  display: grid;
  place-items: center;
}


.sign-out {
  width: 80%;
  padding: 10px 15px;
  border-radius: 30px;
  margin-bottom: 40px;
  
  align-self: center;
  justify-self: center;
  text-align: center;
  width: 95%;
}

main .profile {

  background: #272624;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

main .main-title {
  text-align: center;
  color: white;
}

main .info-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
/*
  Playlist
*/

main .info-profile .card-container-playlist{
  padding: 10px;
  align-self: flex-start;
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  color: white;
  background: #202020;
  border-radius: 10px;
}

main .info-profile .card-container-playlist .cards-group {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
}
main .info-profile .card-container-playlist .cards-group div {
  width: 150px;
  height: 130px;
  color: white;
  margin: 10px;
}

main .info-profile .card-container-playlist .cards-group .img-card-playlist {
  width: 100%;
  height: 80%;
}
/*
  Card profile
*/

.links-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links-container p {
  margin-bottom: 5px;
}

main .info-profile .profile-card {
  background: #202020;
  padding: 10px;
  width: 50%;
  height: 500px;
  color: white;
  margin-left: 25px;
  text-align: center;
  border-radius: 10px;
}

main .info-profile .profile-card .image-profile {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 50px;
}

main .info-profile .profile-card .name-profile {
margin-bottom: 20px;
}

main .info-profile .profile-card .info-profile {
  display: inline;
  margin: 0 20px;
}

main .profile-card .profile-spotify {
  text-decoration: none;
  color: white;
}
main .profile-card .profile-spotify:hover {
  transition: 400ms;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1200px) {
  main {
    width: 100vw;
  }

  main .info-profile {
    flex-direction: column-reverse;
    margin: 8vh 0;
  }

  main .info-profile .profile-card {
    width: 100%;
    margin: 15px;
  }

  main .info-profile .card-container-playlist {
    width: 100%;
  }

  main .info-profile .card-container-playlist .cards-group {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
}
