main {
  width: 85vw;
}

.hero-search {
  width: 100%;
  height: 15%;
  display: grid;
  place-items: center;
  color: white;
  font-size: 3rem;
  background-image: linear-gradient(aqua, transparent);
}

.busca-container {
  height: 5%;
  width: 100%;
  display: grid;
  place-items: center;
}

.busca-container input {
  border: none;
  height: 50%;
  width: 50%;
  font-size: 1.5em;
  border-radius: 30px;
  padding: 0 20px;
}

.busca-item {
  right: 22%;
  position: absolute;
}

.grid-container {
  width: 100%;
  height: 60vh;
  overflow: auto;
  padding: 25px;
  display: grid;
  gap: 15px;
  place-items: center;
  grid-template-columns: repeat(5, 1fr)
}

.grid-item {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  color: white;
  width: 200px;
  height: 300px;
  transition: .5s ease;
}

.grid-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.grid-item img {
  width: 100%;
}